<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Select Box using Python Flask PostgreSQL Flask-WTF, javascript and SQLAlchemy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><h2>Dynamic Select Box using Python Flask PostgreSQL Flask-WTF, javascript and SQLAlchemy</h2></p>
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="email">Country:</label>
                        {{ form.country(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <label for="email">State:</label>
                        {{ form.state(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <label for="email">City:</label>
                        {{ form.city(class="form-control")}}
                    </div>
                    <input type="submit" class="btn btn-success" btn-lg>
                </form>
            </div>
        </div>
    </div>
    <script>
        country_select = document.getElementById('country');
        state_select = document.getElementById('state');
        city_select = document.getElementById('city');
        country_select.onchange = function(){
            country = country_select.value;
            fetch('state/' + country).then(function(response){
                response.json().then(function(data) {
                    optionHTML = '';
                    for (state of data.statecountry) {
                        optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
                    }
                    state_select.innerHTML = optionHTML;
                });
            });
        }
        state_select.onchange = function(){
            city = state_select.value;
            fetch('city/'+city).then(function(response){
                response.json().then(function(data){
                    optionHTML = '';
                    for (city_rs of data.citylist){
                        optionHTML += '<option value="' + city_rs.id + '">' + city_rs.name + '</option>'
                    }
                    city_select.innerHTML = optionHTML;
                });
            });
        }
    </script>
</body>
</html>